* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  pointer-events: none;
  overflow: hidden;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ffeb98;
  font-family: sans-serif;
}

#loading {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 5vh;
  top: 0;
  left: 0;
  width: 135vw;
  height: 135vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 3s;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  * {
    position: absolute;
  }

  .vn {
    height: 80vh;
    top: 25vh;
    right: 5vw;
  }

  .cloud2 {
    width: 30vw;
    top: 30vh;
    right: 1vw;
  }

  .cloud1 {
    height: 40vh;
    right: -17vw;
    bottom: -10vh;
  }

  .light {
    height: 200vh;
    right: -37vw;
    top: -40vh;
    opacity: 0.5;
  }

  .txt1 {
    font-family: "Francois One", sans-serif;
    font-size: 7vh;
    top: 45vh;
    left: 37vw;
    color: red;
    transform: translateX(-50%);
  }

  .txt2 {
    font-family: "Protest Riot", sans-serif;
    font-size: 8.5vh;
    text-align: center;
    top: 53vh;
    left: 37vw;
    width: 70vw;
    transform: translateX(-50%);
  }
}

#text {
  position: absolute;
  top: 66vh;
  font-size: 5vh;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  left: 37vw;
  max-width: 50vw;
  transform: translateX(-50%);
}

#cmd {
  position: absolute;
  font-size: 3vh;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  left: 1vh;
  bottom: 1vh;
}
