* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  pointer-events: none;
  overflow: hidden;
}

body {
  position: relative;
  width: 130vw;
  height: 130vh;
  background-color: #ffeb98;
  font-family: sans-serif;
}

#loading {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 6.5vh;
  top: 0;
  left: 0;
  width: 130vw;
  height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 3s;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 130vw;
  height: 130vh;

  * {
    position: absolute;
  }

  .vn {
    height: 104vh;
    top: 32.5vh;
    right: 6.5vw;
  }

  .cloud2 {
    width: 39vw;
    top: 39vh;
    right: 1.3vw;
  }

  .cloud1 {
    height: 52vh;
    right: -22.1vw;
    bottom: -13vh;
  }

  .light {
    height: 260vh;
    right: -48.1vw;
    top: -52vh;
    opacity: 0.5;
  }

  .txt1 {
    font-family: "Francois One", sans-serif;
    font-size: 9.1vh;
    top: 58.5vh;
    left: 48.1vw;
    color: red;
    transform: translateX(-50%);
  }

  .txt2 {
    font-family: "Protest Riot", sans-serif;
    font-size: 11.05vh;
    text-align: center;
    top: 68.9vh;
    left: 48.1vw;
    width: 91vw;
    transform: translateX(-50%);
  }
}

#text {
  position: absolute;
  top: 85.8vh;
  font-size: 6.5vh;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  left: 48.1vw;
  max-width: 65vw;
  transform: translateX(-50%);
}

#cmd {
  position: absolute;
  font-size: 3.9vh;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  left: 1.3vh;
  bottom: 1.3vh;
}

#btn {
  position: absolute;
  width: 5.2vw;
  height: 5.2vw;
  left: 1.3vh;
  top: 1.3vh;
  background-color: white;
  border-radius: 1.3vh;
  pointer-events: all !important;
}