* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 500ms;
    font-family: Arial, Helvetica, sans-serif;
    color: #1C4587;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: black;
    overflow: hidden;
}

.hidden {
    opacity: 0;
}

main {
    margin: auto;
    position: relative;
}

img.full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img[alt="start"] {
    z-index: 100;
}

#question {
    position: absolute;
    top: 5.6%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    font-size: 5.6em;
    text-align: center;
}

#answers {
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    font-size: 5.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    #tick,
    #cross {
        padding: 0.2em 0;
        border-radius: 0.2em;
        width: 3.5em;
        text-align: center;
        background-color: var(--color);
        color: black;
    }

    #tick {
        --color: yellowgreen;
    }

    #cross {
        --color: red;
    }

    #tick.true,
    #cross.true {
        animation: flicker-correct ease-in-out 6s forwards;
    }

    #tick.false,
    #cross.false {
        animation: flicker ease-in-out 6s forwards;
    }

    #delay {
        width: 2em;
        height: 2em;
        line-height: 1.7em;
        border-radius: 50%;
        border: 0.2em solid #1C4587;
        text-align: center;
    }
}

#request {
    position: absolute;
    font-size: 5.5em;
    bottom: 3.5%;
    left: 50%;
    transform: translateX(-50%);
}

#statistics {
    position: absolute;
    top: 31.8%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 8.23em;
    width: 20em;
    font-size: 5.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .groups {
        width: 20em;
        height: 1.15em;
        display: flex;
    }

    .right {
        width: 17em;
        height: 100%;
    }
    
    .right::before {
        content: '';
        display: inline-block;
        width: calc(100% / var(--max) * var(--current));
        background-color: greenyellow;
        height: 100%;
        border-radius: 0.2em;
        transition: 1s;
    }

    .left {
        text-align: center;
        font-weight: bold;
        width: 3em;
    }
}

@keyframes flicker {

    0%,
    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90% {
        transform: scale(1);
    }

    5%,
    15%,
    25%,
    35%,
    45%,
    55%,
    65%,
    75%,
    85%{
        transform: scale(1.1);
    }

    95% {
        transform: scale(1.1);
        background-color: var(--color);
    }

    100% {
        transform: scale(0.9);
        background-color: grey;
    }
}

@keyframes flicker-correct {

    0%,
    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90% {
        transform: scale(1);
    }

    5%,
    15%,
    25%,
    35%,
    45%,
    55%,
    65%,
    75%,
    85% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.2);
    }
}