<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minecraft Materials</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <main>
    <div id="title">Materials</div>
    <div id="background-overlay">
      <img src="./background.png" alt="" class="left">
      <img src="./background.png" alt="" class="right">
    </div>
    <div id="pages"></div>
  </main>
  <script type="module" src="./script.js"></script>
</body>

</html>