* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
}

body {
  padding: 30px 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  overflow-x: auto;
}

#sample-videos-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
#sample-videos-wrapper.show {
  display: flex;
}

#sample-videos-block {
  margin: auto;
  width: 98vw;
  aspect-ratio: 16 / 9;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

#sample-videos-block video {
  width: 100%;
}

.center {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

table,
table th,
table td {
  border: 1px solid black;
  border-collapse: collapse;
}

table th,
table td {
  padding: 4px 8px;
}

.scenes-table {
  margin-bottom: 30px;
}

.scenes-table td:first-child,
.scenes-table td:nth-child(2),
#actors-statistics td {
  text-align: center;
}

.open-sample-video-button {
  text-wrap: nowrap;
  padding: 2px 4px;
}

.audio-button {
  padding: 2px 4px;
}

.red {
  color: red;
}

#actors-statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#actors-statistics .title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 6px;
}
